@page "/"
@inject HttpClient Http
@using Blazorise.DataGrid


<h1>Azure Spot VM Price</h1>

<h3>Region</h3>

<SelectList Data="@regions"
    TextField="@((item)=>item)"
    ValueField="@((item)=>item)"
    SelectedValue="@currentRegion"
    SelectedValueChanged="@RegionSelectHandler" 
/>


<DataGrid 
    TItem=Price
    ShowPager=true
    PageSize=10
    Striped=true
    Filterable=true
    Data=@priceList
    >
    <DataGridColumn Caption="Name"
        TItem=Price
        Field=@nameof(Price.SkuName)
        Readonly=true
    />
    <DataGridColumn Caption="SKU"
        TItem=Price
        Field=@nameof(Price.ArmSkuName)
        Readonly=true
    />
    <DataGridNumericColumn Caption="Price/hr"
        TItem=Price
        Field=@nameof(Price.UnitPrice)
        Readonly=true>
        <DisplayTemplate>
            @(
                (context as Price).UnitPriceDollars
            )
        </DisplayTemplate>
    </DataGridNumericColumn>
    <DataGridNumericColumn Caption="Price/mo"
        TItem=Price
        Field=@nameof(Price.UnitPriceMonthly)
        Readonly=true>
        <DisplayTemplate>
            @(
                (context as Price).UnitPriceMonthlyDollars
            )
        </DisplayTemplate>
    </DataGridNumericColumn>
    <DataGridDateColumn Caption="Last Changed"
        TItem=Price
        Field=@nameof(Price.EffectiveStartDate)
        Readonly=true
    />
</DataGrid>


@code {
    //SelectList Stuff
    //FIXME: Abstract list definition to function that fetches from IP Address API maybe?
    private PriceClient client;
    private List<string> regions = new List<string> { "australiacentral", "australiacentral2", "australiaeast", "australiasoutheast", "brazilsouth", "brazilsoutheast", "canadacentral", "canadaeast", "centralindia", "centralus", "eastasia", "eastus", "eastus2", "francecentral", "francesouth", "germanynorth", "germanywestcentral", "japaneast", "japanwest", "koreacentral", "koreasouth", "northcentralus", "northeurope", "norwayeast", "norwaywest", "southafricanorth", "southafricawest", "southcentralus", "southeastasia", "southindia", "switzerlandnorth", "switzerlandwest", "uaecentral", "uaenorth", "uksouth", "ukwest", "westcentralus", "westeurope", "westindia", "westus", "westus2" };
    private object currentRegion { get; set; } = "westus2";


    //DataGrid Stuff
    private List<Price> priceList;

    async Task<List<Price>> GetSpotPricesByRegion(string region) {
        var query = new ODataQuery<Price>($"armRegionName eq '{region}'");
        //Prefetch 400 records
        return await client.GetSpotPrices(query, 4);
    }

    async Task RegionSelectHandler( object newValue )
    {
        currentRegion = newValue;
        priceList = await GetSpotPricesByRegion(currentRegion.ToString());
    }

    protected override async Task OnInitializedAsync()
    {
        //FIXME: Abstract this to a new function when I learn how
        client = new PriceClient(Http);
        priceList = await GetSpotPricesByRegion(currentRegion.ToString());
    }
}
